*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}
html{
    height:100vh;
    overflow:hidden;
    scroll-behavior: smooth;
}
a{
    color:inherit;
    text-decoration:none;
}
::-webkit-scrollbar{
    display: none;
}
body{
    height: 100vh;
    overflow: auto;
    background-color: lightgoldenrodyellow;
}
.logout{
    padding: .5rem 1.5rem;
    position: absolute;
    top:1rem;
    right: 1rem;
    background-color: black;
    color: yellow;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    z-index: 10;
}
.logout:hover{
    background-color: white;
    color: black;
}
.aboutinfo{
    width: 100vw;
    height: 100%;
}
.outercontainer{
    color:white;
    background-color: rgb(114, 165, 145);
    /* position:relative; */
    width:100%;
    height:500px;
    font-size:9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-one{
    width: 100vw;
    max-width: 1200px;
    height: 500px;
    flex-shrink: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container-one > a{
    width: 700px;
    padding:1rem 3rem;
    background-color: rgb(26, 68, 68);
    /* box-shadow: -300px 0px 0px 0px rgb(26, 68, 68); */
}
.container-one > img{
    margin-left: auto;
    flex-shrink:0;
    width: 400px;
    /* background-color: blue; */
    /* object-fit: contain; */
}
.container-two{
    width: 100vw;
    height: 500px;
    position: absolute;
    transform:translate( 0px,500px);
    z-index: -5;
    visibility: hidden;
    font-size: 1rem;
    opacity: 0;
    transition-duration:1s;
    transition-property: opacity transform height;
}
.btn-container{
    position: absolute;
    top:0px;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.btn-container > button{
    color: white;
    font-weight: 700;
    background-color: black;
    position: absolute;
    transition-duration: .5s;
    transition-property: color;
    padding: .5rem 1.5rem;
    border:0px;
    border-radius: 20px;
}
.btn-container > ul{
    display: none;
    gap:2rem;
    background-color: transparent;
}
.inner-btns :where(li){
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 600;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 20px;
    transition-duration: .5s;
}
.inner-btns > *{
    box-shadow: 10px 10px 5px 0px rgb(111, 185, 185);
}
.inner-btns > li:hover{
    cursor: pointer;
}
.btn-selected{
    border: 4px solid black;
    color: black;
    background-color: lightcyan;
}
.addhospital{
    top:4rem;
    right: 1rem;
}
.backtohome{
    
    top:1rem;
    left: 1rem;
    
}
.hospital-services-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(220, 180, 180);
    opacity: 0;
    transition-duration:1s;
    transition-property: opacity;
    visibility: hidden;
    position: absolute;
    overflow: auto;
}
.inner-service-container{
    color: black;
    position:absolute;
    background-color: lightcyan;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: auto;
    height: calc(100vh - 6rem);
    width: 100vw;
    padding-top: 6rem;
    opacity: 0;
    transition-duration:1s;
    transition-property: opacity;
    visibility: none;
}
.inner-service-container > *{
    box-shadow: 20px 20px 10px 0px rgb(111, 185, 185);
    z-index: inherit;
}
.price-container{
    flex-direction: column;
}
.moveup{
    z-index: 1;
}
.inner-service-container > table{
    min-width: 500px;
    table-layout: auto;
    text-align: center;
    border: 3px solid black;
    
}
.inner-service-container th,td{
    border: 3px solid black;
    padding: 1rem 1rem;
    background-color: lightcoral;
}
.hospitalpics{
    border:4px solid black;
}
.quote-card-container{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: lightcoral;
    padding:1rem;
}
.quote-card{
    font-weight: 600;
    padding:1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background-color: rgb(246, 181, 181);
    border-radius: 2rem;
    transition-duration: .3s;
}
.pay-card{
    font-weight: 600;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 181, 181);
    border-radius: 2rem;
    transition-duration: .3s;
}
.total-price{
    width: 5rem;
    flex-shrink: 0;
    text-align: right;
    margin-right: 1rem;
}
.pay{
    padding: 1rem;
    height: 100%;
    flex: 1;
    color: lightcyan;
    background-color: black;
    /* border: 4px solid black; */
    border-radius: 2rem;
}
.photo-form{
    flex: 1;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    box-shadow:0px 0px 0px 0px transparent;
}
.photo-form > form{
    padding: .25rem;
    border-radius: 2rem;
}
.photo-form > form > *{
    border-radius: 1.5rem;
    background-color: white;
    padding: .5rem 1rem;
    border: 2px solid black;
}
.price-form,.photo-form{
    border-radius: 1.5rem;
    background-color: transparent;
}
.price-form > form > *{
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: 1.5rem;
}
.hospital-card-container{
    width: 100vw;
    height: 100vh;
    padding-block:5rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    overflow: scroll;
    position: absolute;
    top:0;
    overflow: auto;
}
.hospitalcard{
    color: black;
    display: flex;
    margin-inline:auto;
    flex-shrink: 0;
    border-radius: 35px;
    width: min(90%, 900px);
    height: 400px;
    background-color: lightgoldenrodyellow;
    font-size: 1rem;
    overflow: hidden;
    position: relative;
}
.hospitalcard > img{
    width: 300px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center center;
}
.hdetails{
    flex:1;
    padding-inline:1rem;
}
.hdetails > *{
    overflow: auto;
}
.hname{
    text-align: center;
    height: 7.5rem;
    padding:1rem;
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(95, 240, 192);
}
.haddress{
    text-align: right;
    height: 1rem;
    overflow: auto;
}
.hdescription{
    padding:1rem .5rem;
    border-radius: 20px;
    height: 230px;
    margin-top:1rem;
    background-color: rgb(223, 223, 154);
    text-align: left;
    font-weight: 600;
}
.hid{
    display: none;
}
.hospital-services-btn{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 600;
    border: 0px;
    border-radius: 20px;
    padding:.5rem 1rem;
}
.hospital-services-btn:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}
.hospital-form-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration:1s;
    opacity: 1;
    transition-property:opacity;
    visibility: visible;
    position: absolute;
    top:0;
}
.hospital-form{
    position: absolute;
    color: black;
   background-color: lightblue;
   padding: 3rem;
   border-radius: 25px;
   width: min(90%,500px);
}
.hospital-form > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}
.hospital-form >form > div{
    display: flex;
    justify-content: space-between;
}
.hospital-form input{
    height: 2rem;
    border-radius: 5px;
    border: 0px;
}
.hospital-submit{
    width: 5rem;
    background-color: black;
    color: white;
    font-weight: 600;
}
.hospital-form > button{
    translate: 0 -20px;
    padding: .25rem 1rem;
    font-weight: 600;
    color: black;
    border-radius: 1.5rem;
    background-color: rgb(114, 165, 145);
}
.enlargedcard{
    background-color: rgb(114, 165, 145);
    transform:translate( 0px,0px);
    width: 100vw;
    height: 100vh;
    z-index: inherit;
    opacity:1;
    visibility: visible;
}
.reports{
    font-size: 8rem;
    z-index: 2;
    background-color: rgb(142, 142, 229);
}
.reports > .container-one > a{
    background-color: rgb(30, 30, 76);
}
.hide{
    opacity: 0;
    display: none;
}
.unhide{
    opacity: 1;
    visibility: visible;
}
.service-selected{
    background-color: white;
}